{% extends "Base.html" %}
.
{% block title %}
購物車
{% endblock %}

{% block Content %}

	<div style="margin-top: 100px;">
	</div>

	<div id="maindiv"">
		<form action="/cartok/" method="post" name="form1">
			{% csrf_token %}
			<p class="title">訂單內容確認</p>
			<p class="subject">購物清單</p>

			<table width="90%" border="0" align="center" cellpadding="4" cellspacing="0">

				<tr>
					<th align="center"><strong>商品</strong></th>
					<th width="80" align="center"><strong>單價</strong></th>
					<th width="80" align="center"><strong>數量</strong></th>
					<th width="100" align="center"><strong>金額</strong></th>
				</tr>

				{% for unit in allcart %}

					<tr>
						<td bgcolor="#ffffff">{{unit.0}}</td>
						<td width="80" align="center" bgcolor="#ffffff">$ {{unit.1}}</td>
						<td width="80" align="center" bgcolor="#ffffff">$ {{unit.2}}</td>
						<td width="100" align="center" bgcolor="#ffffff">$ {{unit.3}}</td>
					</tr>

				{% endfor%}
				<tr>
					<td colspan="3" align="left" bgcolor="#ffffff" class="upline"><strong>小計</strong></td>
					<td align="center" bgcolor="#ffffff" class="upline">$ {{total}}</td>
				</tr>
				<tr>
					<td colspan="3" align="left" bgcolor="#ffffff" class="upline"><strong>運費</strong></td>
					<td align="center" bgcolor="#ffffff" class="upline">$ 60</td>
				</tr>
				<tr>
					<td colspan="3" align="left" bgcolor="#ffffff" class="upline"><strong>總計</strong></td>
					<td align="center" bgcolor="#ffffff" class="upline"><strong><font color="#ff0000">$ {{grandtotal}}</font></strong></td>
				</tr>
			</table>

			<p class="subject">訂購者資料</p>
			<table width="90%" border="0" align="center" cellpadding="4" cellspacing="0">
				<tr>
					<th width="100" align="center">資訊</th>
					<th>內容</th>
				</tr>
				<tr>
					<td width="100" align="center" bgcolor="#ffffff"><strong>姓名</strong></td>
					<td bgcolor="#ffffff"><input type="text" name="CuName" value="{{name}}" required /></td>
				</tr>
				<tr>
					<td width="100" align="center" bgcolor="#ffffff"><strong>電話</strong></td>
					<td bgcolor="#ffffff"><input type="text" name="CuPhone" value="{{phone}}" required /></td>
				</tr>
				<tr>
					<td width="100" align="center" bgcolor="#ffffff"><strong>寄件地址</strong></td>
					<td bgcolor="#ffffff"><input type="text" name="CuAddr" size="50" value="{{address}}" required /></td>
				</tr>
				<tr>
					<td width="100" align="center" bgcolor="#ffffff"><strong>電子郵件</strong></td>
					<td bgcolor="#ffffff"><input type="text" name="CuEmail" value="{{email}}" required /></td>
				</tr>
				<tr>
					<td width="100" align="center" bgcolor="#ffffff"><strong>付款方式</strong></td>
					<td bgcolor="#ffffff">
						<input type="radio" name="payType" value="ATM轉帳" checked="checked" />ATM轉帳
						<input type="radio" name="payType" value="貨到付款" />貨到付款
					</td>
				</tr>	
			</table>

			<div style="clear:both"></div>
			<table border="0" align="center" cellpadding="10" cellspacing="0">
				<tr>
					<td><input type="button" value="繼續購物" onClick="window.location='/product/'" /></td>
					<td><input type="button" value="修改購物車" onClick="window.location='/cart/'" /></td>
					<td><input type="submit" value="確認購買" /></td>
				</tr>
			</table>

		</form>
	</div>

{% endblock %}

