{% extends "Base.html" %}

{% block title %}

新聞

{% endblock %}


{% block bannerArea %}

        <!--================Breadcrumb Area =================-->
       
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">最新消息</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">News</li>
                    </ol>
                </div>
            </div>
        </section>
  
        <!--================Breadcrumb Area =================-->


{% endblock %}




{% block Content %}

		{% for n in news %}



			<section class="about_history_area section_gap">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-6 d_flex align-items-center">
			                <div class="about_content ">
			                    <h2 class="title title_color">{{ n.title }}</h2>
			                    <p>{{ n.create_date }}</p>
			                    <p>{{ n.content }}</p>
			                    <a href="#" class="button_hover theme_btn_two">Request Custom Price</a>
			                </div>
			            </div>
			            <div class="col-md-6">
			                <img class="img-fluid" src="/static/images/{{ n.photo_file }}" alt="img">
			            </div>
			        </div>
			    </div>
			</section>




		{% endfor %}




{% endblock %}